{% extends "base.html" %}

{% block title %}Add product{% endblock %}

{% block body %}
<form action="saveProduct" class="add-form" method="post" id="product_form">
    <div class="add-form__header">Add product</div>
    <div class="add-form__input-group">
        <label class="add-form__label" for="sku">Sku</label>
            <input class="add-form__input" name="sku" type="text" id="sku" autofocus>
            <div class="add-form__flash-message" data-flash-message="sku_is_required">{{ validator.flashMessage("sku_is_required") }}</div>
            <div>{{ validator.flashMessage("sku_is_required") }}</div>
        <label class="add-form__label" for="name">Name</label>
            <input class="add-form__input" name="name" type="text" id="name">
            <div class="add-form__flash-message" data-flash-message="name_is_required">{{ validator.flashMessage("name_is_required") }}</div>
        <label class="add-form__label" for="price">Price</label>
            <input class="add-form__input" name="price" type="number" step="0.01" id="price">
            <div class="add-form__flash-message" data-flash-message="price_is_required">{{ validator.flashMessage("price_is_required") }}</div>
        <label class="add-form__label" for="type">Type</label>
            <select class="add-form__select" name="type" id="productType">
                <option value="book">Book</option>
                <option value="dvd">DVD</option>
                <option value="furniture">Furniture</option>
            </select>
        <div class="add-form__types">
            <div class="book">
                <label class="add-form__label" for="weight">Weight</label>
                    <input class="add-form__input" name="weight" type="number" step="0.01" id="weight">
                    <div class="add-form__flash-message" data-flash-message="weight_is_required">{{ validator.flashMessage("weight_is_required") }}</div>
                <span class="add-form__description">*Please provide weight in KG</span>
            </div>
            <div class="dvd" id="dvd">
                <label class="add-form__label" for="size">Size</label>
                    <input class="add-form__input" name="size" type="number" step="0.01" id="size">
                    <div class="add-form__flash-message" data-flash-message="size_is_required">{{ validator.flashMessage("size_is_required") }}</div>
                <span class="add-form__description">*Please provide weight in MB</span>
            </div>
            <div class="furniture" id="furniture">
                <label class="add-form__label" for="height">Height</label>
                    <input class="add-form__input" name="height" type="number" step="0.01" id="height">
                    <div class="add-form__flash-message" data-flash-message="height_is_required">{{ validator.flashMessage("height_is_required") }}</div>
                <label class="add-form__label" for="length">Length</label>
                    <input class="add-form__input" name="length" type="number" step="0.01" id="length">
                    <div class="add-form__flash-message" data-flash-message="length_is_required">{{ validator.flashMessage("length_is_required") }}</div>
                <label class="add-form__label" for="width">Width</label>
                    <input class="add-form__input" name="width" type="number" step="0.01" id="width">
                    <div class="add-form__flash-message" data-flash-message="width_is_required">{{ validator.flashMessage("width_is_required") }}</div>
                <span class="add-form__description">*Please provide dimensions in CM</span>
            </div>
        </div>
    </div>
    <div class="add-form__button-group">
        <a href="/" class="add-form__button">Cancel</a>
        <button class="add-form__button" type="submit"> Save</button>
    </div>
</form>
{% endblock %}
