<div class="card">
    <div class="card__title">{{ product.getName() }}<input class="delete-checkbox" name="{{ product.getType() }}[]" type="checkbox" value="{{ product.id }}"></div>
    <div class="card__description"> {{ product.getSku() }}</div>
    <div class="card__created">Created at: {{ product.getCreatedAt }}</div>
    <div class="card__attributes">Weight: {{ product.getWeight() }} KG</div>
    <span class="card__price">{{ product.getPrice() }} $</span>
</div>