{% extends "base.html" %}

{% block title %}Page not found{% endblock %}

{% block body %}

    <!--
  ~ @category Scandiweb
  ~ @package Scandiweb/JuniorTest
  ~ @author Germans Stukanovs <germans.stukanovs@gmail.com>
  ~ @copyright Copyright (c) 2022 Scandiweb, Ltd (http://www.scandiweb.com)
  -->

<h1>Page not found</h1>
    <p>Sorry, that page doesn't exist.</p>

{% endblock %}
