{% extends "base.html" %}

{% block title %}Error{% endblock %}

{% block body %}

    <!--
  ~ @category Scandiweb
  ~ @package Scandiweb/JuniorTest
  ~ @author Germans Stukanovs <germans.stukanovs@gmail.com>
  ~ @copyright Copyright (c) 2022 Scandiweb, Ltd (http://www.scandiweb.com)
  -->

<h1>An error occurred</h1>
    <p>Sorry, an error has occurred.</p>

{% endblock %}
